@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Santio;
  src: url("../fonts/SANTIO/TTF/Santio\ regular.ttf");
}

@font-face {
  font-family: Tangerine;
  src: url("../fonts/Tangerine/Tangerine-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Santio;
  color: #efefef;
}

body,
html {
  height: 100%;
}

/* w3school parallax */
.parallax {
  background: rgba(0, 0, 0, 0.5) url("../img/cleo-topper.jpg") center
    center/cover no-repeat fixed;
  background-blend-mode: darken;
  min-height: 100vh;
  height: fit-content;
}

/* Lösung sollte bei kleinen Geräten funktionieren, die keinen parallax effekt unterstützen */
/* .parallax::before {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.5) url("../img/cleo-topper.jpg") center
    center/cover no-repeat fixed;
  background-blend-mode: darken;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
} 

html::before {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.5) url("../img/cleo-topper.jpg") center
    center/cover no-repeat fixed;
  background-blend-mode: darken;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}

*/

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 1.8rem;
  line-height: 3rem;
}

span {
  color: #fff;
  background-color: #323232;
  padding-top: 5px;
  padding-inline: 5px;
}

a {
  text-decoration: none;
}

.credits p,
.logo p,
.donate a {
  font-family: Roboto;
}

/* ==== HEADER ==== */

/* Logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-block: 1vh;
}

.logo img {
  width: 2vw;
}

.logo p {
  text-decoration: underline #e7bc0e;
  text-underline-offset: 1vh;
  margin: 1vw;
}

header {
  min-height: 100vh;
  width: 100vw;
  padding-inline: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header h1 {
  width: 289px;
  /* width: 21vw; */
  margin-top: 20vh;
}

p.scroll {
  font-size: 3rem;
  font-family: Tangerine;
  color: #e7bc0e;
  margin: 10vh 0;
  letter-spacing: -0.2rem;
}

p.scroll:after {
  content: ">";
  display: inline-block;
  transform: translate(15px, 5px) rotate(82deg);
  font-size: 3rem;
}

/* ====MAIN==== */

/* INTRO */

.intro {
  min-height: 100vh;
  padding: 25vh 30vw 0 20vw;
}

/* FACTS */

.facts {
  padding: 0 20vw 10vh 10vw;
}

.facts .icon {
  width: 10vw;
  margin-block: 20vh 5vh;
}

.facts article h4 {
  font-size: 8rem;
}

.facts article p {
  font-size: 1.8rem;
  margin-bottom: 2vh;
}

.work h4,
.work p {
  color: #e7bc0e;
}

.wage h4,
.wage p {
  color: #cb91b6;
}

.health h4,
.health p,
.credits p a,
.intro h3 {
  color: #6bc1a3;
}

.facts h3 {
  margin: 20vh 0 0 18vw;
  color: #7eb8e1;
  width: 59vw;
}

/* PICTURE */

.picture {
  background: #efefef url("../img/see.png") center/cover no-repeat;
  width: 100%;
}

.picture img {
  vertical-align: bottom;
  width: 100%;
}

/* DONATE */
.donate {
  background-color: #000;
  padding: 30vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.donate h5 {
  max-width: 700px;
  /* width: 50vw; */
  font-size: 5.5rem;
}

.donate a {
  border: 1px solid #fff;
  padding: 2vh 4vw;
  width: fit-content;
  font-size: 1.5rem;
  margin-top: 10vh;
}

.donate a:hover {
  box-shadow: 6px 6px 0 0 white;
}

/*==== CREDITS ==== */

.credits {
  background-color: #000;
  padding: 1vh;
}

.credits p {
  font-size: 0.8rem;
  color: #efefefc6;
  text-align: center;
}

.credits p a {
  font-family: arial;
}

/* Chrome erkennt media queries - iPhone aber nicht */

@media only screen and (max-device-width: 425px) {
  h3 {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }

  .intro {
    min-height: fit-content;
    padding-right: 15vw;
  }

  .donate {
    padding: 10vh 10vw;
  }

  .donate h5 {
    font-size: 2.8rem;
  }
}
